.container {
    height: 100%;
    padding: 1%;
    flex: 1;
    display: flex;
}

.selection_ph_container {
    border: 1px dashed white;
    display: flex;
    height: inherit;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.selection_ph_file_input {
    display: none;
}

.main_container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.player_video {
    width: 100%;
    height: auto;
}
